In [ ]:
import pandas as pd
import seaborn as sns
import sqlite3
import sqlalchemy
import math

In [ ]:
engine = sqlalchemy.create_engine('sqlite:///test.db')

In [ ]:
df = sns.load_dataset('planets')
midpoint = math.ceil(len(df)/2)
df1 = df.iloc[midpoint:, :]
df2 = df.iloc[:midpoint, :]

In [ ]:
df1.to_sql('Planets', engine, index=False)
df2.to_sql('PlanetsSub', engine, index=False)

In [ ]:
display(pd.read_sql('Planets', engine))
display(pd.read_sql('PlanetsSub', engine))

## Noted

USE Semicolon(;) to separte SQL statement<br>
SQL keywords are NOT case sensitive but upper-case preferred.

### SELECT Statement

In [ ]:
pd.read_sql(
    'SELECT method, number\
     FROM Planets;'
    , engine)

### DISTINCT Keyword

In [ ]:
pd.read_sql(
    'SELECT DISTINCT method, number\
     FROM Planets;'
    , engine)

### Functions
MIN(), MAX(), COUNT(), AVG(), SUM()

In [ ]:
display(pd.read_sql(
    'SELECT MIN(distance)\
     FROM Planets;'
    , engine))

display(pd.read_sql(
    'SELECT MAX(distance)\
     FROM Planets;'
    , engine))

display(pd.read_sql(
    'SELECT COUNT(method)\
     FROM Planets'
    , engine))

display(pd.read_sql(
    'SELECT AVG(Number)\
     FROM Planets;'
    , engine))

display(pd.read_sql(
    'SELECT SUM(Number)\
     FROM Planets;'
    , engine))

In [ ]:
pd.read_sql(
    'SELECT COUNT(*) AS UniqueMethod\
     FROM (SELECT DISTINCT method FROM Planets);'
    , engine)

### WHERE Condition

In [ ]:
pd.read_sql(
    'SELECT method, orbital_period, mass\
    FROM Planets\
    WHERE mass > 20;'
    , engine)

### TYPE OF Operators

Operators in WHERE clause
= ~ Equal
> ~ Greater than
< ~ Less than
>= ~ Greater than or equal
<= ~ Less than or equal
<>, ! Not equal

BETWEEN ~ In between a range 
- BETWEEN #07/01/1996# AND #07/31/1996#
- BETWEEN 50 AND 60

LIKE ~ Search for a pattern
- LIKE '%a' = Finds any values that start with "a"
- LIKE '%a'	= Finds any values that end with "a"
- LIKE '%a%' = Finds any values that have "a" in any position
- LIKE '_a%' = Finds any values that have "a" in the second position
- LIKE 'a_%' = Finds any values that start with "a" and are at least 2 characters in length
- LIKE 'a%b'	Finds any values that start with "a" and ends with "b"

IN ~ To specify multiple possible values for a column
- IN ('Paris','London')

AND, OR and NOT Operators
- WHERE condition1 AND condition2 AND condition3
- WHERE condition1 OR condition2 OR condition3
- WHERE condition1 AND (condition2 OR condition3)

In [ ]:
pd.read_sql(
    'SELECT *\
    FROM Planets\
    WHERE method IN ("Radial Velocity", "Transit");'
    , engine)

In [ ]:
pd.read_sql(
    'SELECT *\
    FROM Planets\
    WHERE distance BETWEEN 70 AND 120;'
    , engine)

In [ ]:
pd.read_sql(
    'SELECT *\
    FROM Planets\
    WHERE method LIKE "R%";'
    , engine)

### ORDER BY Keyword

In [ ]:
pd.read_sql(
    'SELECT *\
    FROM Planets\
    WHERE distance BETWEEN 50 AND 100\
    ORDER BY distance DESC;'
    , engine)

### INSERT Statement

In [ ]:
pd.read_sql(
    'INSERT INTO Planets("method", "number", "orbital_period", "mass", "distance", "year")\
     VALUES ("TESTING", 100, 10000, 33.33, 78.78, 2022);'
    , engine)

# Will prompt error due to no SELECT statement

In [ ]:
pd.read_sql('Planets', engine)

### For NULL VALUES or NOT NULL

In [ ]:
pd.read_sql(
    'SELECT *\
    FROM Planets\
    WHERE mass IS NULL;'
    , engine)

In [ ]:
pd.read_sql(
    'SELECT *\
    FROM Planets\
    WHERE mass IS NOT NULL;'
    , engine)

### UPDATE Statement

In [ ]:
pd.read_sql(
    'UPDATE Planets\
    SET "number" = 200, "orbital_period" = 20000\
    WHERE "method" = "TESTING";'
    , engine)

# Will prompt error due to no SELECT statement

In [ ]:
pd.read_sql('Planets', engine)

### DELETE Statement

In [ ]:
pd.read_sql(
    'DELETE FROM Planets\
    WHERE "method" = "TESTING";'
    , engine)

# Will prompt error due to no SELECT statement

In [ ]:
pd.read_sql('Planets', engine)

### LIMIT Clause

In [ ]:
pd.read_sql(
    'SELECT *\
     FROM Planets\
     LIMIT 5;'
    , engine)

### SQL ALIAS

In [ ]:
pd.read_sql(
    'SELECT method as METHOD, number as NUMBER\
     FROM Planets\
     LIMIT 5;'
    , engine)

### JOINS

(INNER JOIN): Returns records that have matching values in both tables<br>
LEFT (OUTER) JOIN: Returns all records from the left table, and the matched records from the right table<br>
RIGHT (OUTER) JOIN: Returns all records from the right table, and the matched records from the left table<br>
FULL (OUTER) JOIN: Returns all records when there is a match in either left or right table<br>

SELF JOIN

In [ ]:
pd.read_sql(
    'SELECT A.method AS PlanetsMethod, B.method AS PlanetsSubMethod\
     FROM Planets A\
     INNER JOIN PlanetsSub B\
     ON A.method = B.method\
     LIMIT 5;'
    , engine)

In [ ]:
## SELF JOIN
pd.read_sql(
    'SELECT A.method AS PlanetsMethod1, B.method AS PlanetsMethod2\
     FROM Planets A, Planets B\
     LIMIT 5;'
    , engine)

### UNION Operator

UNION in SQL is used to combine the result-set of two or more SELECT statements. 
The data combined using UNION statement is into results into new distinct rows.
- Every SELECT statement within UNION must have the same number of columns
- The columns must also have similar data types
- The columns in every SELECT statement must also be in the same order

Selects only distinct values by default. To allow duplicate values, use UNION ALL

In [ ]:
pd.read_sql(
    'SELECT *\
     FROM Planets\
     UNION\
     SELECT *\
     FROM PlanetsSub;'
    , engine)

### GROUP BY Statement
- The GROUP BY statement groups rows that have the same values into summary rows, like "find the number of customers in each country".
- The GROUP BY statement is often used with aggregate functions (COUNT(), MAX(), MIN(), SUM(), AVG()) to group the result-set by one or more columns.

In [ ]:
pd.read_sql(
    'SELECT method, SUM(mass) AS TotalMass, AVG(orbital_period) AS AverageOrbitalPeriod\
     FROM Planets\
     WHERE year > 2009\
     GROUP BY method\
     ORDER BY AverageOrbitalPeriod;'
    , engine)

### HAVING Clause
- The HAVING clause was added to SQL because the WHERE keyword cannot be used with aggregate functions.

In [ ]:
pd.read_sql(
    'SELECT method, SUM(mass) AS TotalMass, AVG(orbital_period) AS AverageOrbitalPeriod\
     FROM Planets\
     WHERE method IN ("Pulsar Timing", "Transit", "Astrometry")\
     GROUP BY year\
     HAVING MIN(distance) > 10\
     ORDER BY AverageOrbitalPeriod;'
    , engine)